
@using (Html.BeginForm(
                "Search",           // action
                "Blog",             // controller
                FormMethod.Get,     // method
                new { id = "search-form" })) // html attributes
{
    <p>
        @Html.TextBox("s")
    </p>
    <p>
        <input type="submit" value="Search">
    </p>
}